@page "/Parser"
@inherits ParserModel


<div class="parser">

    <div class="parser__block">
        <button @onclick="Parse">button</button>
        <h4>@result</h4>
        <input @bind-value="url" />
    </div>

    <div class="parser__block">
        <button @onclick="Parse">button</button>
        <h4>@result</h4>
        <input @bind-value="url" />
    </div>

</div>