
<div class="footer">
    <div class="footer__block">
        <span>Mail</span>
        <span>dinarplay@yandex.ru</span>
    </div>
    <div class="footer__block">
        <span>Git</span>
        <span>wwwwwwwwwwww.com</span>
    </div>
</div>
