
<div class="sidebar">

    <div class="sidebar__title">
        <span class="sidebar__title__text">PetBlazor</span>
    </div>

    <div class="sidebar__block">
    
        <div class="sidebar__block__title">
            <span class="sidebar__block__title__text">Каталог</span>
        </div>
    
        <div class="sidebar__block__items">
            <a href="catalog">Товары</a>
            <a href="bucket">Корзина</a>
        </div>
    
    </div>    
    
    <div class="sidebar__block">
    
        <div class="sidebar__block__title">
            <span class="sidebar__block__title__text">9 ступней</span>
        </div>
    
        <div class="sidebar__block__items">
            <a href="ttToe" class="">TIC-TAC-TOE</a>
            <a href="ttToe" class="">ЗАТЫЧКА</a>
            <a href="ttToe" class="">ЗАТЫЧКА</a>
            <a href="ttToe" class="">ЗАТЫЧКА</a>
            <a href="ttToe" class="">ЗАТЫЧКА</a>
            <a href="ttToe" class="">ЗАТЫЧКА</a>
            <a href="ttToe" class="">ЗАТЫЧКА</a>
            <a href="ttToe" class="">ЗАТЫЧКА</a>
            <a href="ttToe" class="">ЗАТЫЧКА</a>
        </div>    
    </div>
</div>